#feature/chatbot
openai
python-dotenv

#develop
# Python 3.10.16 required
python-dotenv==1.1.0
spotipy==2.25.1
torch==2.1.2
transformers==4.31.0
scikit-learn==1.6.1
numpy==1.24.4
pandas==1.5.3
datasets==3.6.0
peft==0.4.0
sentence-transformers==2.2.2
konlpy==0.6.0